@model WebApp.Models.ProjectDetails
@using WebApp.Helpers

@{
    var LanguageId = WebApp.Utilities.LanguageResolver.GetLanguage(ViewContext.RouteData.Values["language"]);
}

@helper CheckForUsers(string key)
{
    var list = key.ToLower() == "students" ? (List<SelectListItem>)ViewBag.students : (List<SelectListItem>)ViewBag.supervisors;
    if (list != null && list.Count() != 0)
    {
    @Html.DropDownList(key);
    <a style="display: none;" class="save-users" href="#" title="Αποθήκευση">
        <img src="/files/save.png" width="16" height="16" />
    </a>
    <a data-type="@key.ToLower()" class="show-drop-down" href="#" title="Προσθήκη καινούριου Χρήστη">
        <img src="/files/add.png" width="16" height="16" />
    </a>
    }
}

@using (Html.BeginForm("EditProject", "Administration", FormMethod.Post, new { id = "edit-project", enctype = "multipart/form-data" }))
{   <a href="#" class="lightbox-close">&nbsp;</a> 
    <div data-after-remove="@string.Format("Administration/EditProject/{0}", Model.Project.prId)">
        <div class="row title">
            <span>@Helpers.GetTextConstant("Projects_EditLightbox_Title", LanguageId, "Επεξεργασίας εργασίας")</span>
        </div>
        <div class="row">
            <div class="col left">
                <div class="label">
                    <label for="Title">@Helpers.GetTextConstant("Projects_Lightbox_Name", LanguageId, "Project Title")</label>
                </div>
                <div class="field">
                    <input name="Title" id="Title" type="text" value="@Model.Project.prTitle" />
                    <br />
                    <div class="error">&nbsp;</div>
                </div>
            </div>
            <div class="col right">
                <div class="label">
                    <label for="Subject">@Helpers.GetTextConstant("Projects_Lightbox_Subject", LanguageId, "Subject")</label>
                </div>
                <div class="field">
                    <input name="Subject" id="Subject" type="text" value="@Model.Project.prSubject" />
                    <br />
                    <div class="error">&nbsp;</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="label">
                <label for="Description">@Helpers.GetTextConstant("Projects_Lightbox_Description", LanguageId, "Project Description")</label>
            </div>
            <div class="field">
                <textarea name="Description" cols="50" rows="5" id="Description">@Model.Project.prDescription</textarea>
                <br />
                <div class="error">&nbsp;</div>
            </div>
        </div>
        <div class="row">
            <div class="label">
                <label for="Info">@Helpers.GetTextConstant("Projects_Lightbox_Info", LanguageId, "Project Info")</label>
            </div>
            <div class="field">
                <textarea name="Info" cols="50" rows="5" id="Info">@Model.Project.prExtraInfo</textarea>
                <br />
                <div class="error">&nbsp;</div>
            </div>
        </div>
        <div class="row">
            <div class="col left">
                <div class="label">
                    <label for="Categories">@Helpers.GetTextConstant("Projects_Lightbox_Category", LanguageId, "Κατηγορία")</label>
                </div>
                <div class="field">
                    @Html.DropDownList("Categories")
                    <br />
                    <div class="error">&nbsp;</div>
                </div>
                <div class="label">
                    <label for="IsPaper">@Helpers.GetTextConstant("Projects_Lightbox_IsPaper", LanguageId, "IsPaper")</label>
                </div>
                <div class="field">
                    <input type="checkbox" id="IsPaper" name="IsPaper" @(Model.Project.prIsPaper ? "checked" : "")/>
                    <br />
                    <div class="error">&nbsp;</div>
                </div>
            </div>
            <div class="col right">
                <div class="label">
                    <label for="Type">@Helpers.GetTextConstant("Projects_Lightbox_Type", LanguageId, "Τύπος")</label>
                </div>
                <div class="field">
                    @Html.DropDownList("Type")
                    <br />
                    <div class="error">&nbsp;</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col left">
                <div class="label">
                    <label for="StartDate">@Helpers.GetTextConstant("Projects_Lightbox_StartDate", LanguageId, "StartDate")</label>
                </div>
                <div class="field">
                    <input name="StartDate" id="StartDate" type="text" value="@Model.Project.prStartDate.ToString("dd/MM/yy")" />
                    <br />
                    <div class="error">&nbsp;</div>
                </div>
            </div>
            <div class="col right">
                <div class="label">
                    <label for="EndDate">@Helpers.GetTextConstant("Projects_Lightbox_EndDate", LanguageId, "EndDate")</label>
                </div>
                <div class="field">
                    <input name="EndDate" id="EndDate" type="text" value="@Model.Project.prEndDate.ToString("dd/MM/yy")" />
                    <br />
                    <div class="error">&nbsp;</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="label">
                <label for="project-students">@Helpers.GetTextConstant("Projects_Lightbox_Students", LanguageId, "Students")</label>
            </div>
            <div class="field">
                @foreach (var student in Model.Students)
                {
                    <span>
                        <span class="mini-links" title="@string.Format("{0} {1}", student.userFirstName, student.userLastName)" data-prid="@Model.Project.prId" data-id="@student.userId">@student.userName</span>
                        <a href="#" class="delete">
                            <img src="../files/remove.png" title="@string.Format("Διαγράψτε τον χρήστη {0} {1}", student.userFirstName, student.userLastName)" data-prid="@Model.Project.prId" data-id="@student.userId" width="16" height="16" />
                        </a>
                    </span>
                }
                <span data-id="@Model.Project.prId" class="add-project-users">@CheckForUsers("Students")
                </span>
                <br />
                <div class="error">&nbsp;</div>
            </div>
        </div>
        <div class="row">
            <div class="label">
                <label for="project-students">@Helpers.GetTextConstant("Projects_Lightbox_Supervisors", LanguageId, "Supervisors")</label>
            </div>
            <div class="field">
                @foreach (var supervisor in Model.Supervisors)
                {
                    <span>
                        <span class="mini-links" title="@string.Format("{0} {1}", supervisor.userFirstName, supervisor.userLastName)" data-prid="@Model.Project.prId" data-id="@supervisor.userId">@supervisor.userName</span>
                        <a href="#" class="delete">
                            <img src="../files/remove.png" title="@string.Format("Διαγράψτε τον χρήστη {0} {1}", supervisor.userFirstName, supervisor.userLastName)" data-prid="@Model.Project.prId" data-id="@supervisor.userId" width="16" height="16" />
                        </a>
                    </span>
                }
                <span data-id="@Model.Project.prId" class="add-project-users">
                    @CheckForUsers("Supervisors")
                </span>
                <br />
                <div class="error">&nbsp;</div>
            </div>
        </div>
        <p>
            <input type="submit" value="@Helpers.GetTextConstant("Projects_Lightbox_EditBtn", LanguageId, "Αποθήκευση")" />
        </p>
    </div>
}
<script type="text/javascript">
    $('#edit-project').ajaxForm({
        dataType: "json",
        success: function (data) {
            if (data.success == true) {
                $('.lightbox').empty();
                $('.lightbox').append(data.message);
                setTimeout(function () { window.location.reload(); }, 1500);
            }
            else {
                $('#edit-project div.error').html('&nbsp;');
                for (var i = 0; i < data.errors.length; i++) {
                    var item = data.errors[i];
                    $('#edit-project input[name="' + item.field + '"]').parents('div.field').find('div.error').html(item.error);
                }
            }
        }
    });
</script>
