@model int
@using WebApp.Helpers

@{
    var LanguageId = WebApp.Utilities.LanguageResolver.GetLanguage(ViewContext.RouteData.Values["language"]);
}

@using (Html.BeginForm("ChangePassword", "Administration", FormMethod.Post, new { id = "change-pass", enctype = "multipart/form-data" }))
{   <a href="#" class="lightbox-close">&nbsp;</a>
    if (@Model == 0)
    {
    <div>
        @Helpers.GetTextConstant("UserPassword_Lightbox_InvalidUser", LanguageId, "Invalid User")
    </div>
    <script type="text/javascript">
        setTimeout(function () { $('.lightbox-close').click(); }, 1500)
    </script>
    }
    else
    {
@*<div class="row">
        <div class="col left">
            Εισάγεται νέο κωδικό
        </div>
        <div class="col right">
            <input type="password" name="password" />
        </div>
    </div>
    <div class="row">
        <span>ή</span>
    </div>
    <div class="row">
        <div class="col left">
            Αποστολή με email ένα τυχαίο κωδικό;
        </div>
        <div class="col right">
            <input type="submit" value="Send" />
        </div>
    </div>*@
    <div class="row title">
        <span>@Helpers.GetTextConstant("UserPassword_Lightbox_Title", LanguageId, "Αλλαγή κωδικού")</span>
    </div>
    <div class="row">
        <div class="col left">
            @Helpers.GetTextConstant("UserPassword_Lightbox_NewPass", LanguageId, "Νέος κωδικός")
        </div>
        <div class="col right">
            @Helpers.GetTextConstant("UserPassword_Lightbox_SendEmail", LanguageId, "Αποστολή με email έναν τυχαίο")
        </div>
    </div>
    <div class="row">
        <div class="col left">
            <input type="password" name="password" />
        </div>
        <div class="col right">
            <input type="submit" value="@Helpers.GetTextConstant("UserPassword_Lightbox_SendBtn", LanguageId, "Αποστολή")" />
        </div>
    </div>
    <div class="row">
        <div class="col left">
            <input type="submit" value="@Helpers.GetTextConstant("UserPassword_Lightbox_SaveBtn", LanguageId, "Αποθήκευση")" />
        </div>
    </div>
    <script type="text/javascript">
        $('#change-pass').ajaxForm({
            dataType: "json",
            success: function (data) {
                if (data.Success == true) {
                    $('.lightbox').empty();
                    $('.lightbox').append(data.Message);
                    setTimeout(function () { HideModal(); }, 1500);
                }
                else {
                    alert(data.Message);
                }
            }
        });
    </script>        
    }
}